.notifica{
  position: fixed;
  top:65px;
  right: 0px;
  margin: 0 auto !important;
  display: block;
  float: all;
  /*background-color: #ccc;*/
  background-color: rgba(0,0,0,0);
  width: 300px;
  cursor: pointer;
  animation-name: in;
  animation-duration: 2s;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  /*
    height: 50% !important;
  */
}

.doesntappear{
  position: fixed;
  display: none;
  top:0;
  right: 0px;
  margin: 0 auto !important;
  float: all;
  /*background-color: #ccc;*/
  background-color: rgba(0,0,0,0);
  width: 300px;
  animation-name: out;
  animation-duration: 1s;
  /*
    height: 500px;
    max-height: 800px;
  */
  height: 50% !important;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes in {
  0%   {top:-300px;}
  100% {top:0px; display: block;}
}
/* Standard syntax */
@keyframes in {
  0%   {top:-300px;}
  100% {top:0px; display: block;}
}

.tituloJanela{
  font-size: 1.5vh;
}